<div class="backImage">
  <img src="{{imageUrl}}" alt="">
</div>
<div class="row">
  <div class="profilePad">
    <img class="avatar" src="../../../assets/images/avatar.jpg" alt="">
    <div class="userInfos">
      <span class="name">{{ name }} {{ vorname }}</span>
      <span class="e-mail">{{ email }}</span>
    </div>
    <div class="profileNav">
      <ul class="navigation">
        <li class="navOption" routerLink="/profile" routerLinkActive="navOptionActive" [routerLinkActiveOptions]="{exact: true}">Post's</li>
        <li class="navOption" routerLink="gallery" routerLinkActive="navOptionActive" [routerLinkActiveOptions]="{exact: true}">Gallery</li>
        <li class="navOption" routerLink="about" routerLinkActive="navOptionActive" [routerLinkActiveOptions]="{exact: true}">About Me</li>
      </ul>
    </div>
    <div class="profileContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

