<div class="row">
  <div class="column">
    <app-login></app-login>
  </div>
  <div class="column">
    <p>First time here?<br>Join the comunnity!</p>
    <div class="button-wrapper">
      <button class="button button-reverse" (click)="goToRegistration()">Register</button>
    </div>
  </div>
</div>