<div class="row">
  <div class="imagePad">
    <div class="title">
      Some title
    </div>
    <div class="imagePlace">
      <img src="../../../assets/images/background.jpg" alt="" class="image">
    </div>
    <div class="bottomInfos">
      Some # tags
    </div>
  </div>
  
  <div class="imagePad">
    <div class="title">
      Some title
    </div>
    <div class="imagePlace">
      <img src="../../../assets/images/background2.jpg" alt="" class="image">
    </div>
    <div class="bottomInfos">
      Some # tags
    </div>
  </div>
</div>
