<div class="user-dropdown">
  <img src="../../../../../assets/images/avatar.jpg" alt="user-avatar" class="dropdown-image" (click)="clickedInside($event)">
  <div class="dropdown" *ngIf="dropdownOpen">
    <ul>
      <div class="welcome-message">
        Hey {{ name }}!
      </div>
      <li class="dropdown-option">Preferences</li>
      <li class="dropdown-option" (click)="onLogout()">Logout</li>
    </ul>
  </div>
</div>