<footer class="footer">
  <p class="footerText">Copyright &copy; 2017 <br>
    Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by 
    <a href="mailto:w_olek@icloud.com" class="author">Wojciech Olek</a>
  </p>
</footer>