<div class="header headerBig">
  <div class="header-island">
    <div class="logo" routerLinkTo="home">
      <div class="name">| Splash</div>
    </div>
    <div class="navigation">
      <ul class="nav">
        <li *ngIf="authService.loggedIn()" class="navButton" routerLink="/dashboard" routerLinkActive="navButtonActive">Home</li>
        <li *ngIf="authService.loggedIn()" class="navButton" routerLink="/profile" routerLinkActive="navButtonActive">Profile</li>
        <app-user-dropdown *ngIf="authService.loggedIn()"></app-user-dropdown>
      </ul>
    </div>
  </div>
</div>