<i class="fa fa-chevron-left fa-2x back-icon" aria-hidden="true" (click)="back()"></i>
<div class="row">
  <div class="registerPad">
    <div class="title">
      <h1>Registation</h1>
    </div>

    <div class="showHideMessage">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>

    <form [formGroup]="userForm" (submit)="registerSubmit()">
      <div class="column register-column">
        <div class="form-group">
          <label for="username">Username</label>
          <div [ngClass]="{'has-error': (userForm.controls.username.errors && userForm.controls.username.dirty)||(!usernameValid && userForm.controls.username.dirty)}">
            <input type="text" name="username" formControlName="username" class="form-control" autocomplete="off" placeholder="*Username"
              (blur)="checkUsername()">
            <ul class="additionalInfo">
              <li *ngIf="userForm.controls.username.errors?.required && userForm.controls.username.dirty">This field is required</li>
              <li *ngIf="userForm.controls.username.errors?.minlength && userForm.controls.username.dirty || userForm.controls.username.errors?.maxlength && userForm.controls.username.dirty ">Minimum characters: 3, Maximum characters: 15</li>
              <li *ngIf="userForm.controls.username.errors?.validateUsername && userForm.controls.username.dirty">Username must not have any special characters</li>
              <li *ngIf="usernameMessage">{{ usernameMessage }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <div [ngClass]="{'has-error': (userForm.controls.email.errors && userForm.controls.email.dirty)||(!emailValid && userForm.controls.email.dirty)}">
            <input type="text" name="email" formControlName="email" class="form-control" autocomplete="off" placeholder="*E-mail" (blur)="checkEmail()">
            <ul class="additionalInfo">
              <li *ngIf="userForm.controls.email.errors?.required && userForm.controls.email.dirty">This field is required</li>
              <li *ngIf="(userForm.controls.email.errors?.minlength && userForm.controls.email.dirty || userForm.controls.email.errors?.maxlength && userForm.controls.email.dirty ) && userForm.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
              <li *ngIf="userForm.controls.email.errors?.email && userForm.controls.email.dirty">This must be a valid e-mail</li>
              <li *ngIf="emailMessage">{{emailMessage}}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div [ngClass]="{'has-error': (userForm.controls.password.errors && userForm.controls.password.dirty)}">
            <input type="password" name="password" formControlName="password" class="form-control" autocomplete="off" placeholder="*Password">
            <ul class="additionalInfo">
              <li *ngIf="userForm.controls.password.errors?.required && userForm.controls.password.dirty">This field is required</li>
              <li *ngIf="userForm.controls.password.errors?.minlength && userForm.controls.password.dirty || userForm.controls.password.errors?.maxlength && userForm.controls.password.dirty ">Minimum characters: 8, Maximum characters: 35</li>
              <li *ngIf="userForm.controls.password.errors?.validatePassword && userForm.controls.password.dirty">Password must be at least 8 characters but no more than 35</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <div [ngClass]="{'has-error': (userForm.controls.confirm.errors && userForm.controls.confirm.dirty)}">
            <input type="password" name="confirm" formControlName="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password">
            <ul class="additionalInfo">
              <li *ngIf="userForm.controls.confirm.errors?.required && userForm.controls.confirm.dirty">This field is required</li>
              <li *ngIf="userForm.errors?.matchingPasswords && userForm.controls.confirm.dirty">Password do not match</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column register-column">
        <div class="form-group">
          <label for="name">Name</label>
          <div>
            <input type="text" name="name" formControlName="name" class="form-control" autocomplete="off" placeholder="Your name">
          </div>
        </div>
        <div class="form-group">
          <label for="vorname">Vorname</label>
          <div>
            <input type="text" name="vorname" formControlName="vorname" class="form-control" autocomplete="off" placeholder="Your vorname">
          </div>
        </div>
      </div>
      <div class="button-wrapper bigMargin">
        <input [disabled]="!userForm.valid || processing || !usernameValid || !emailValid" type="submit" class="button" value="Submit">
      </div>
    </form>
  </div>
</div>