<div class="">
  <div class="loginPad">
    <div class="title">
      <h1>Login</h1>
    </div>
    <div class="showHideMessage">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    <form [formGroup]="userForm" (submit)="onLoginSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <div [ngClass]="{'has-error': userForm.controls.username.errors && userForm.controls.username.dirty}">
          <input class="form-control" type="text" name="username" formControlName="username" />
          <ul class="help-block">
            <li *ngIf="userForm.controls.username.errors?.required && userForm.controls.username.dirty">This field is required.</li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div [ngClass]="{'has-error': userForm.controls.password.errors && userForm.controls.password.dirty}">
          <input class="form-control" type="password" name="password" formControlName="password" />
          <ul class="help-block">
            <li *ngIf="userForm.controls.password.errors?.required && userForm.controls.password.dirty">This field is required.</li>
          </ul>
        </div>
      </div>
      <input [disabled]="!userForm.valid || processing" class="button button-reverse" type="submit" value="Login" />
    </form>
  </div>
</div>