.alert {
  margin: 0 auto;
  padding: 10px;
  background-color: $primary-color-light;
  border: 1px solid $primary-color-light;
  color: $white;

  &-success {
    background-color: $primary-color;
  }

  &-error {
    background-color: $error-red-light;
    border-color: $error-red;
    color: $primary-color;
  }
}