@import "./_variables.scss";

.title {
  font-size: $f-verybig;
  color: $primary-color;
  font-weight: 100;
  text-transform: uppercase;
}

.bigMargin {
  margin: 40px;
}

// Focus
textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

// Side
.row {
  z-index: 2 !important;
  width: 80%;
  margin: 0 auto;
  margin-top: 130px;
  &::after {
  content: "";
  display: table;
  clear: both;
  }
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.back-icon {
  position: absolute;
  top: 150px;
  left: 40px;
  color: $primary-color;
  cursor: pointer;
}
