@import './_variables.scss';

.form-group {
  position: relative;
  margin: 10px 10px 20px 30px;
  .form-control {
    margin: 5px 10px 10px 10px;
    line-height: 20px;
    width: 200px;
    padding-left: 5px;
  }
}

.button-wrapper {
  display: table;
  margin: 0 auto;
}
.button {
  display: block;
  line-height: 30px;
  letter-spacing: 2px;
  width: 200px;
  background-color: $white;
  border: 1px solid $primary-color;
  border-radius: 0;
  font-size: $f-normal;
  text-transform: uppercase;
  color: $primary-color;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $primary-color;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      background-color: $white;
      color: $primary-color;
    }
  }

  &-reverse {
    background-color: $primary-color;
    color: $white;
    &:hover {
      background-color: $white;
      color: $primary-color;
    }
    &:disabled {
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}

.has-error {
  input {
    color: $error-red;
    border-color: $error-red;
  }
  li {
    color: $error-red;
  }
}

.additionalInfo {
  // position: absolute;
  margin-left: 10px;
  margin-top: 0;
  list-style: none;
  font-size: $f-normal;

  ul {
    margin-top: 0;
  }
}
