$body-color: #F5F5F5;
$content-color: #fbfbfb;

//
$primary-color: #28334E;
$primary-color-light: lighten($primary-color, 30%);
$white: rgb(255, 255, 255);
$light-white: rgb(220, 220, 220);
$dark-white: rgba(255, 255, 255, 0.655);
$dark-grey: rgb(68, 68, 68);
$light-grey: lighten($dark-grey, 10%);
$very-light-grey: lighten($dark-grey, 50%);
$very-very-light-grey: lighten($dark-grey, 60%);
$dark-black: rgb(33, 33, 33);
$error-red: rgb(253, 89, 89);
$error-red-light: rgb(255, 188, 188);

//Fonts
$f-small: 12px;
$f-normal: 14px;
$f-big: 16px;
$f-verybig: 20px;
$f-vverybig: 30px;
$f-vvverybig: 40px;