.imagePad {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 80%;
  background-color: $white;
  border: 1px solid $light-white;

  &:first-child {
    margin-top: 140px;
  }

  .title {
    line-height: 40px;
    padding-left: 20px;
  }
  .imagePlace {
    .image {
      max-width: 100%;
    }
  }
  .bottomInfos {
    line-height: 40px;
    padding: 0 10px;
  }
}