.footer {
  // flex-shrink: 0;
  width: 100%;
  height: 100px;
  background-color: $primary-color;
  color: $white;

  .footerText {
    padding-top: 40px;
    text-align: center;
    font-size: $f-small;

    .author {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $dark-white;
      }
    }
  }
}