.header {
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
  
  &-island {
    width: 80%;
    margin: 0 auto;
    .logo {
      margin-top: 15px;
      display: inline-block;
      border-left: 2px solid $primary-color;

      .name {
        display: inline-block;
        font-size: $f-vvverybig;
        line-height: 65px;
        text-transform: uppercase;
        margin-left: 5px;
        color: $primary-color;
        border-left: 2px solid $primary-color;
      }
    }
  
    .navigation {
      display: inline-block;
      vertical-align: middle;
      line-height: 100px;
      float: right;
      .nav {
        margin: 0;
        .navButton {
          display: inline-block;
          float: left;
          margin-left: 20px;
          cursor: pointer;
          color: $primary-color;
          outline: none;
          &:hover {
            color: $primary-color-light;
            border-bottom: 1px solid $primary-color;
          }
          &Active {
            color: $primary-color-light;
            border-bottom: 1px solid $primary-color;
          }
        }
      }
    }
  }
}

.headerSmall {
  height: 10px;
}

.headerBig  {
  height: 100px;
}