.profilePad {
  position: relative;
  margin: 0 auto;
  margin-top: -550px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 500px;
  background-color: $white;
  border: 1px solid $light-white;

  .avatar {
    position: absolute;
    width: 150px;
    height: auto;
    top: -100px;
    right: 50%;
    margin-right: -75px;
    border: 4px solid $white;
  }

  .userInfos {
    width: 100%;
    height: 50px;
    .name {
      padding: 20px 50px;
      float: left;
    }

    .e-mail {
      padding: 20px 50px;
      float: right;
    }
  }

  .profileNav {
    width: 100%;
    height: 60px;
    background-color: $primary-color;
    color: $dark-white;

    .navigation {
      line-height: 58px;
      .navOption {
        display: inline-block;
        text-decoration: none;
        padding: 0 20px;
        cursor: pointer;
        outline: none;

        &:hover {
          border-bottom: 2px solid $white;
          color: $white;
        }

        &Active {
          border-bottom: 2px solid $white;
          color: $white;
        }
      }
    }
  }

  .profileContent {
    margin: 10px 20px;
  }
}

.backImage {
  max-width: 100%;
  margin-top: -500px;
  &::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, $body-color 100%);
    margin-top: -750px;
    height: 750px;
    width: 100%;
    content: '';
  }
}