.user-dropdown {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  .dropdown-image {
    margin-top: 25px;
    width: 50px;
    // height: 50px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    cursor: pointer;
  }
  .dropdown {
    position: absolute;
    top: 85px;
    min-width: 150px;
    background-color: $white;
    border: 1px solid $primary-color;
    line-height: 30px;
    .welcome-message {
      background-color: $white;
      padding: 5px;
      border-bottom: 1px solid $primary-color;
    }
    ul {
      list-style: none;
      padding: 0;
      .dropdown-option {
        padding: 5px 20px 5px 10px;
        cursor: pointer;
        &:hover {
          background-color: $very-very-light-grey;
        }
      }
    }
    &::after,
    &::before {
      position: absolute;
      content: " ";
      bottom: 100%;
      left: 25px;
      border: solid transparent;
    }
    &::after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $white;
      border-width: 10px;
      margin-left: -10px;
    }
    &::before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: $primary-color;
      border-width: 11px;
      margin-left: -11px;
    }
  }
}
